
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    width: 100%;
    
}

.left>ul{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}